/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* Background */
section {
    background-color: black;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content Wrap */
.content-wrap {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Section */
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 3rem;
    margin-right: 5px;
}

.logo span {
    font-size: 30px;
}

/* Navigation Links */
.nav-section {
    display: flex;
    gap: 1rem;
    font-size: 18px;
}

.nav-section li a {
    padding: 7px;
}

/*Hamburger Button*/
.hamburger-box {
    position: relative;
    right: 50px;
    display: none;
}
.hamburger-lines {
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    transition: all .2s ease-in-out;
    position: absolute;
}

.hamburger-lines::before, .hamburger-lines::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    transition: all .2s ease-in-out;
}

.hamburger-lines::before {
    transform: translateY(-7px);
}

.hamburger-lines::after {
    transform: translateY(7px);
}

.hamburger-lines.open {
    transform: translateX(0px);
    border-radius: 5px;
    background-color: transparent;
}

.hamburger-lines.open::after {
    transform: rotate(45deg);
    border-radius: 5px;
}
.hamburger-lines.open::before {
    transform: rotate(-45deg);
    border-radius: 5px;
}

/* Mobile Navigation Screen */
.mobile-nav {
    display: none;
    background-color: transparent;
    height: 100vh;
    position: relative;
    top: -15px;
    transition: all .4s ease-in-out;
    flex-direction: column;
    font-size: 2rem;
    padding-left: 40px;
    line-height: 70px;
}

.mobile-nav .divider {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 20px 0;
}

.mobile-nav .user {
    font-size: 1.5rem;
}

.logo.open {
    visibility: hidden;
}

/* animation */
@keyframes slide {
    from {right: -100%;}
    to {right: 0;}
}

.mobile-nav .logo {
    position: absolute;
    bottom: 50px;
    left: 30px;
    justify-content: start;
}
/* Media Quaries */

/* Spacing */
@media screen and (max-width: 1200px) {
    .content-wrap {
        width: 85%;
    }
}

/* Hamburger Icon */
@media screen and (max-width: 990px) {
    section {
        min-height: 55px;
    }
    .content-wrap {
        width: 100%;
        padding: 0 10px;
    }
    .logo img {
        width: 2rem;
        margin-right: 0;
    }
    .logo span {
        font-size: 20px;
    }
    .nav-section {
        display: none;
    }
    .hamburger-box {
        display: block;
        right: 30px;
    }
    .mobile-nav.open {
        display: flex;
        animation-name: slide;
        animation-duration: .3s;
        background-color: black;
    }
}

/* Header Section */
header {
    background-color: #1D75DE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 27px;
}
header .content-wrap {
    flex-direction: column;
    align-items: start;
}

header h2 {
    font-size: 2.8rem;
    margin-top: 70px;
}

header p {
    margin-top: 0;
    font-weight: lighter;
    font-size: 25px
}

header .buttons {
    margin-top: 20px;
    display: flex;
}

header .buttons button{
    border-radius: 70px;
    color: white;
    font-family: 'Itim', cursive;
    font-size: 1rem;
    cursor: pointer;
    padding: 15px 30px;
}

header .buttons button:nth-child(1) {
    background-color: rgb(25,20,20);
    border: 2px solid rgb(25,20,20);
    margin-right: 5px;
}

header .buttons button:nth-child(2) {
    background-color: inherit;
    border: 2px solid white;
}

header .buttons button:hover{
    transform: scale(1.03)
}

header span {
    font-size: small;
    margin-top: 45px;
    margin-bottom: 40px;
}

header span a {
    text-decoration: underline;
}

/* Media Query */
@media screen and (max-width: 990px) {
    header .content-wrap {
        align-items: center;
        
    }
}

@media screen and (max-width: 700px) {
    header .buttons {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

